* {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #464646;
}

header {
  display: flex;
  height: 120px;
  width: 100%;
  padding: 0px 6rem;
  background-color: #ffffff;
  align-items: center;
  font-weight: 700;
}
header .contenedorLogo {
  display: flex;
  align-items: center;
}
header .contenedorLogo .logoImagen {
  width: 40px;
  height: 30px;
}
header .contenedorLogo .logoFirma {
  font-size: 28px;
  font-weight: 700;
}
header .contenedorLogo .logoFirma strong {
  color: #2A7AE4;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}
header nav .contenedorNavegador {
  width: 30vw;
  height: 40px;
  border-radius: 15px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav .contenedorNavegador .navegadorInput {
  height: 90%;
  border: none;
  background-color: #F5F5F5;
  padding: 0px 10px;
}
header nav .contenedorNavegador .navegadorBuscar {
  border: none;
  background-color: #F5F5F5;
  padding-right: 10px;
}
header nav .contenedorNavegadorLogin {
  width: 25%;
  display: flex;
  justify-content: end;
}
header nav .contenedorNavegadorLogin .navegadorLogin {
  border: 1px solid #2A7AE4;
  color: #2A7AE4;
  padding: 20px 60px;
}

.contenedorBanner {
  width: 100%;
  height: 350px;
  background: url(../img/banner/Hero.png);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  padding-left: 6rem;
  padding-bottom: 2rem;
}
.contenedorBanner .bannerTitulo, .contenedorBanner .bannerParrafo {
  color: #ffffff;
  font-size: 52px;
  padding-bottom: 1rem;
}
.contenedorBanner .bannerParrafo {
  font-size: 22px;
}
.contenedorBanner .bannerBoton {
  padding: 15px;
  background-color: #2A7AE4;
  color: #ffffff;
}

main {
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
}

.contenedorProductos {
  padding-bottom: 6rem;
}
.contenedorProductos .contenedorTituloProducto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}
.contenedorProductos .contenedorTituloProducto .productoTitulo {
  font-size: 32px;
}
.contenedorProductos .contenedorTituloProducto .productoVerTodo {
  font-size: 16px;
  color: #2A7AE4;
  font-weight: 700;
}
.contenedorProductos .contenedorTituloProducto .productoVerTodo .fa-arrow-right {
  font-size: 16px;
  color: #2A7AE4;
  font-weight: 700;
  margin-left: 10px;
}
.contenedorProductos .contenedorCardProducto {
  display: flex;
  justify-content: space-between;
}

.producto .producto__informacion .producto__nombre {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.producto .producto__informacion .producto__precio {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.producto .producto__informacion .productoVer {
  font-size: 16px;
  color: #2A7AE4;
  font-weight: 700;
}

.contenedorNosotros {
  padding: 3rem 6rem;
  background-color: #EAF2FD;
  width: 100%;
  display: flex;
  align-items: start;
}
.contenedorNosotros .contenedorLogo {
  display: flex;
  align-items: center;
  width: 25vw;
}
.contenedorNosotros .contenedorLogo .logoImagen {
  width: 40px;
  height: 30px;
}
.contenedorNosotros .contenedorLogo .logoFirma {
  font-size: 28px;
  font-weight: 700;
}
.contenedorNosotros .contenedorLogo .logoFirma strong {
  color: #2A7AE4;
}
.contenedorNosotros .contenedorQuienesSomos {
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.contenedorNosotros .contenedorQuienesSomos ul li {
  list-style: none;
  padding-bottom: 2rem;
}
.contenedorNosotros .contenedorQuienesSomos ul li a {
  text-decoration: none;
}
.contenedorNosotros form {
  width: 50vw;
  display: flex;
  flex-direction: column;
}
.contenedorNosotros form .formTitulo {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 0.5rem;
}
.contenedorNosotros form .formNombre {
  padding: 10px 0px 40px 10px;
  border: none;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.contenedorNosotros form .formArea {
  padding: 10px 0px 0px 10px;
  border: none;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.contenedorNosotros form .formBoton {
  width: 10rem;
  padding: 15px;
  background-color: #2A7AE4;
  border: none;
  color: #ffffff;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0px;
}
footer p {
  font-size: 22px;
  font-weight: bold;
}